---
import SideBarLayout from "../layouts/SideBarLayout.astro";
import PickupBar from "../components/organisms/PickupBar.astro";
import FilterBar from "../components/molecules/FilterBar.astro";
import ProductCard from "../components/organisms/ProductCard.astro";

const products = [
  {
    category: "Pastry & Cake",
    favorite: true,
    title: "Cardamom Croissant",
    price: "42 DKK",
    img: "cardamom-croissant.jpg",
  },
  {
    category: "Bread & Buns",
    favorite: false,
    title: "City Loaf",
    price: "59 DKK",
    img: "city-loaf.jpg",
  },
  {
    category: "Bread & Buns",
    favorite: true,
    title: "Sesame City Loaf",
    price: "59 DKK",
    img: "sesame-city-loaf.png",
  },
  {
    category: "Bread & Buns",
    favorite: false,
    title: "Morning Bun",
    price: "16 DKK",
    img: "morning-bun.jpg",
  },
  {
    category: "Bread & Buns",
    favorite: false,
    title: "Chocolate Bun",
    price: "28 DKK",
    img: "chocolate-bun.png",
  },
  {
    category: "Pastry & Cake",
    favorite: true,
    title: "Pain Au Chocolat",
    price: "38 DKK",
    img: "pain-au-chocolat.jpg",
  },
  {
    category: "Pastry & Cake",
    favorite: false,
    title: "Lemon Cake",
    price: "45 DKK",
    img: "lemon-cake.png",
  },
  {
    category: "Pastry & Cake",
    favorite: true,
    title: "Strawberry Choux",
    price: "48 DKK",
    img: "strawberry-choux.png",
  },
  {
    category: "Pastry & Cake",
    favorite: false,
    title: "Strawberry Tart",
    price: "48 DKK",
    img: "strawberry-tart.png",
  },
  {
    category: "Bread & Buns",
    favorite: true,
    title: "Superseed",
    price: "55 DKK",
    img: "superseed.png",
  },

  {
    category: "Groceries",
    favorite: false,
    title: "Butter from Øllingegaard",
    price: "36 DKK",
    img: "butter.png",
  },
  {
    category: "Groceries",
    favorite: false,
    title: "Spring Water",
    price: "26 DKK",
    img: "spring-water.png",
  },
  {
    category: "Groceries",
    favorite: false,
    title: "Bornholm Water",
    price: "30 DKK",
    img: "bornholm-water.png",
  },
  {
    category: "Groceries",
    favorite: false,
    title: "Fritz Cola",
    price: "30 DKK",
    img: "fritz-cola.png",
  },
  {
    category: "Groceries",
    favorite: false,
    title: "Ebeltoft Soda Rhubarb",
    price: "39 DKK",
    img: "ebeltoft-soda-rhubarb.png",
  },
  {
    category: "Groceries",
    favorite: false,
    title: "Ebeltoft Soda Raspberry",
    price: "39 DKK",
    img: "ebeltoft-soda-raspberry.png",
  },
  {
    category: "Groceries",
    favorite: false,
    title: "Ebeltoft Soda Lemon & Ginger",
    price: "39 DKK",
    img: "ebeltoft-soda-gingerlemon.png",
  },
  {
    category: "Groceries",
    favorite: false,
    title: "Prolog Coffee Bag",
    price: "155 DKK",
    img: "prolog-coffee.png",
  },
];
---

<SideBarLayout
  title="Pre-Order"
  color="charcoal"
  mainClass="scroll"
  sidebarClass="add-margin"
>
  <PickupBar />

  <section id="preorder" class="no-scrollbar">
    <div class="filter-wrapper">
      <FilterBar variant="products" />
    </div>
    <div class="title-wrapper">
      <h2>Select items</h2>
    </div>
    <div class="card-wrapper move-in">
      <!-- <div class="wrapper move-in"> -->
      {
        products.map((product) => (
          <ProductCard
            title={product.title}
            price={product.price}
            imgSrc={`/assets/img/products/${product.img}`}
            favorite={product.favorite}
            category={product.category}
          />
        ))
      }
      <!-- </div> -->
    </div>
  </section>
</SideBarLayout>

<style>
  section#preorder {
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: auto;
    height: 100%;
  }
  .title-wrapper {
    display: none;
  }

  .card-wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    position: relative;
    column-gap: var(--space-m);
    row-gap: var(--space-s);
    width: 100%;
    padding-block-start: var(--space-s);
  }

  @media screen and (min-width: 1024px) {
    section#preorder {
      padding-block-start: var(--space-m);
      row-gap: var(--space-xs-s);
      padding-bottom: var(--space-xl);
    }

    .card-wrapper {
      column-gap: var(--space-l);
      row-gap: var(--space-s);
      padding-block: var(--space-s);
    }
    .title-wrapper {
      display: block;
      order: -1;
    }
  }
  @media screen and (min-width: 1900px) {
    .card-wrapper {
       grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

</style>
